html, body {
  font: 11pt arial;
  line-height: 1.5em;
  background: #efefef url(img/light_noise_diagonal/light_noise_diagonal.png);
}

h1 {
  font-size: 1.5em;
  margin: 46px 0;
}

h2 {
  font-size: 1.2em;
  margin: 46px 0 16px 0;
}

h3 {
  font-size: 1em;
}

h1, h2, h3 {
  font-family: monospace;
  font-weight: normal;
}

#header {
  font-size: 3em;
  font-weight: bold;
  font-family: monospace;
  color: inherit;
}

#app {
  margin-top: 40px;
}

#page {
  position: relative;
  width: 700px;
  max-width: 100%;
  min-height: 700px;
  margin: 20px auto 40px auto;
  padding: 40px 60px;
  box-sizing: border-box;

  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.2);
}

#page.small-screen {
  margin: 0;
  padding: 40px 10px;
  border: none;
}

table.events th,
table.events td {
  padding: 4px 20px 4px 0;
}

table.events td:last-child {
  padding-right: 0;
}

table.events .nowrap {
  white-space: nowrap;
}

table.events .first {
  border-top: 1px solid #cccccc;
}

table.events .last {
  padding-bottom: 20px;
}

table.events th,
table.events td {
  vertical-align: top;
}

table.table.profiles th,
table.table.profiles td {
  text-overflow: ellipsis;
  word-break: break-all;
}

div.calendars {
  max-height: 200px;
  overflow: auto;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 2px 10px;
  /*box-shadow: inset 0 0 1em rgba(128, 128, 128, 0.2);*/
}

div.calendar-item {
  margin: 5px 0;
}

div.calendar-item div.calendar-color {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

img.user-icon {
  width: 24px;
  height: 24px;
}

div.scheduler form table {
  width: 100%;
}

div.scheduler table th,
div.scheduler table td {
  padding: 5px 10px;
}

div.scheduler table th:first-child,
div.scheduler table td:first-child {
  padding-left: 0;
}

div.scheduler table td.selected {
  background-color: #3bafda;
  border-radius: 3px;
  color: white;
}

div.scheduler img.loading {
  vertical-align: middle;
}

div.scheduler table,
div.scheduler ul {
  margin: 24px 0;
}

div.scheduler ul {
  list-style-type: none;
}

p.error {
  color: red;
}


/** Fix a bug in flatboot */
.icheckbox_flat,
.iradio_flat {
  background: url("/node_modules/bootflat/bootflat/img/check_flat/default.png") no-repeat;
}

#errors {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#errors .alert {
  width: 400px;
  margin: 10px auto;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.4);
}

/** Override some bootflat styles */
.form-control,
.selectize-input {
  border-color: #cccccc;
}

.form-group {
  margin-bottom: 0;
}